@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-eb-garamond);
  --font-sans: var(--font-montserrat);
  /* --font-mono: var(--font-mono); */

  /* CONFIRM we want to customize these font size values */
  --text-4xl: 2.25rem; /* default 2.125rem */
  --text-5xl: 2.875rem; /* default 3rem */

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var (--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #fdfaf2;
  --foreground: #2b2b2b;
  --card: #ffffff;
  --card-foreground: #2b2b2b; /* oklch(0.267 0.001 0); */
  --popover: oklch(0.984 0.01 95.3);
  --popover-foreground: oklch(0.267 0.001 0);
  --primary: oklch(0.654 0.19 46.5);
  --primary-foreground: rgba(222, 88, 26, 1);
  --secondary: oklch(0.967 0.004 85.3);
  --secondary-foreground: #888888;
  --muted: oklch(0.967 0.004 85.3);
  --muted-foreground: oklch(0.556 0.005 54.7);
  --accent: oklch(0.967 0.004 85.3);
  --accent-foreground: rgba(255, 178, 142, 1);
  --destructive: oklch(0.627 0.241 27.5);
  --destructive-foreground: oklch(0.972 0.008 85.9);
  --border: #fee0d3;
  --input: oklch(0.93 0.005 51.8);
  --ring: oklch(0.654 0.19 46.5);
  --chart-1: oklch(0.712 0.187 32.8);
  --chart-2: oklch(0.605 0.128 184.2);
  --chart-3: oklch(0.393 0.065 223.6);
  --chart-4: oklch(0.827 0.182 84.6);
  --chart-5: oklch(0.765 0.192 65.8);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.267 0.001 0);
  --sidebar-primary: oklch(0.654 0.19 46.5);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.654 0.19 46.5);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #171717;
  --foreground: #c4c4c4;
  --card: #000000;
  --card-foreground: #c4c4c4;
  --popover: oklch(0.196 0.001 0);
  --popover-foreground: oklch(0.815 0.001 0);
  --primary: oklch(0.654 0.19 46.5);
  --primary-foreground: rgba(222, 88, 26, 1);
  --secondary: oklch(0.279 0.011 49.1);
  --secondary-foreground: #888888;
  --muted: oklch(0.279 0.011 49.1);
  --muted-foreground: oklch(0.595 0.001 0);
  --accent: oklch(0.279 0.011 49.1);
  --accent-foreground: rgba(255, 178, 142, 1);
  --destructive: oklch(0.573 0.227 27.4);
  --destructive-foreground: oklch(0.972 0.008 85.9);
  --border: #4d1900;
  --input: oklch(0.279 0.011 49.1);
  --ring: oklch(0.654 0.19 46.5);
  --chart-1: oklch(0.596 0.195 263.8);
  --chart-2: oklch(0.623 0.143 169.3);
  --chart-3: oklch(0.765 0.192 65.8);
  --chart-4: oklch(0.637 0.18 307.2);
  --chart-5: oklch(0.617 0.208 11.5);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.815 0.001 0);
  --sidebar-primary: oklch(0.654 0.19 46.5);
  --sidebar-primary-foreground: oklch(0.903 0.056 40.8);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.815 0.001 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  hr {
    @apply w-full border-2;
  }
}
